.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.btn-primary{
    background-color: #1976d2;
}
.btn-primary:hover{
    background-color: #0d47a1;
}
.btn-danger{
    background-color: #e53935;
}
.btn-danger:hover{
    background-color: #b71c1c;
}
.btn-succes {
    background-color: #43a047;
}
.btn-succes :hover{
    background-color: #2e7d32;
}